body, html {
  margin: 0;
  padding: 0;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.info-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.main-content-container {
  display: grid;
  grid-template-columns: 2.5fr  1fr;
  margin: 1.5rem 1rem 1.5rem 0.5rem;  
}

.page-container {
  column-gap: 2px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  height: 100vh;
}

.right-container {
  row-gap: 2px;
  display: grid;
  grid-template-rows: 1fr 6fr;
  grid-column-start: 2;
}